h1.one{
	color: lightblue; font-weight: lighter;}

h1.two{ color:white; font-size: 20px;font-weight: lighter;}

h1.three{ color:lightblue; font-size:20px; font-weight:lighter; }


body{
	background: black;
}